@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@300&display=swap");

.container-fluid {
  height: 100vh;
  background-color: rgb(2, 13, 5);
  color: rgb(214, 99, 27);
}

#clock,
#date {
  font-family: "Tourney", cursive;
  font-size: 8rem;
}
