
body {
    background-color: rgb(2, 13, 5);
    color: rgb(214, 99, 27);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 8rem;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}